.best-sellers {
	&__wrapper {
		overflow: hidden;
		margin: 50px 0;
		&.hide {
			opacity: 0;
		}
	}
	&__slider-wrapper {
		margin: 0 auto;
		@media screen and (min-width: 1200px) {
			padding-left: 50px;
			margin-left: calc(( 100vw - 1215px ) / 2 );
		}
	}
	&__slider {
		overflow: revert;
	}
}